# Pandas-Dataframe y Series

Pandas es una librería de manipulacion de datos en Python, que se usa para el analisis y limpieza dispone de dos estructuras, una son las series y la otra los dataframes

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Looking in links: /usr/share/pip-wheels
Requirement already satisfied: pandas in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/anaconda-panel-2023.05-py310/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [5]:
#Series
#Son arreglos que pueden tener cualquier tipo de datos, las series son de una dimension

data=[1,2,3,4,5]

series = pd.Series(data)
print("Series \n", series)

Series
 0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
#Crear series desde un diccionario

data = {'a': 1, 'b': 2, 'c':3}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
dtype: int64

In [7]:
data=[10, 20, 30]
index = ['a', 'b', 'c']
pd.Series(data, index=index)

a    10
b    20
c    30
dtype: int64

In [9]:
#Dataframes

#Crear un Dataframe desde un diccionario

data={
    'Name': ['Krish', 'John', 'Jack'],
    'Age': [25, 30 ,45],
    'City': ['Bangalore', 'New York', 'Florida']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
<class 'pandas.core.frame.DataFrame'>

In [10]:
import numpy as np

np.array(df)

array([['Krish', 25, 'Bangalore'],
       ['John', 30, 'New York'],
       ['Jack', 45, 'Florida']], dtype=object)

In [13]:
## Crear un Data Frame a partir de una lista de diccionarios

data = [
    {'Name': 'Krish', 'Age': 32, 'City': 'Bangalore'}, 
    {'Name': 'John', 'Age': 34, 'City': 'New York'},
    {'Name': 'Bappy', 'Age': 32, 'City': 'Bangalore'},
    {'Name': 'Jack', 'Age': 32, 'City': 'Bangalore'}  
]

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Krish   32  Bangalore
1   John   34   New York
2  Bappy   32  Bangalore
3   Jack   32  Bangalore
<class 'pandas.core.frame.DataFrame'>

In [17]:
df = pd.read_csv('sales_data.csv')
df.head(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-11-23,Electronics,iPhone 14 Pro,3,999.99,2999.97,Europe,Debit Card
1,10002,2024-03-12,Electronics,iPad Pro 11,1,799.99,799.99,Australia,PayPal
2,10003,2024-01-17,Electronics,iPhone 14 Pro,2,999.99,1999.98,Europe,Apple Pay
3,10004,2024-11-04,Electronics,iPad Pro 11,2,799.99,1599.98,Australia,PayPal
4,10005,2024-04-22,Books,Python Crash Course,3,34.99,104.97,North America,Debit Card

In [25]:
#Acceder a los datos de un Dataframe 

df['Region']
df.loc[0]

df.iloc[0][3]

'iPhone 14 Pro'

In [26]:
#Acceder a un elemento especifico

df.at[1, 'Product Category']

'Electronics'

In [32]:
#Accediendo a un elemento especifico utilizando iat
df.iat[2,2]
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-11-23,Electronics,iPhone 14 Pro,3,999.99,2999.97,Europe,Debit Card
1,10002,2024-03-12,Electronics,iPad Pro 11,1,799.99,799.99,Australia,PayPal
2,10003,2024-01-17,Electronics,iPhone 14 Pro,2,999.99,1999.98,Europe,Apple Pay
3,10004,2024-11-04,Electronics,iPad Pro 11,2,799.99,1599.98,Australia,PayPal
4,10005,2024-04-22,Books,Python Crash Course,3,34.99,104.97,North America,Debit Card
...,...,...,...,...,...,...,...,...,...
995,10996,2024-05-27,Home Appliances,Dyson V11 Vacuum Cleaner,2,599.99,1199.98,Europe,Credit Card
996,10997,2024-11-14,Clothing,Levi's 501 Jeans,4,79.99,319.96,South America,PayPal
997,10998,2024-10-05,Electronics,iPad Pro 11,4,799.99,3199.96,Europe,Debit Card
998,10999,2024-10-28,Books,The Pragmatic Programmer,4,44.99,179.96,South America,Credit Card
999,11000,2024-11-03,Electronics,Samsung Galaxy S23,5,899.99,4499.95,Asia,Apple Pay

In [34]:
#Manipulacion de datos con Dataframes

df['Salary'] = [50000, 60000, 70000]  #Agrega una columna, no lo hae porque debe tener igual numero de filas

ValueError: Length of values (3) does not match length of index (1000)

In [35]:
#Eliminar una columna

df.drop('Date', axis = 1, inplace=True) #Sin inplace no lo borra permamentemente

In [36]:
df

,Transaction ID,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,Electronics,iPhone 14 Pro,3,999.99,2999.97,Europe,Debit Card
1,10002,Electronics,iPad Pro 11,1,799.99,799.99,Australia,PayPal
2,10003,Electronics,iPhone 14 Pro,2,999.99,1999.98,Europe,Apple Pay
3,10004,Electronics,iPad Pro 11,2,799.99,1599.98,Australia,PayPal
4,10005,Books,Python Crash Course,3,34.99,104.97,North America,Debit Card
...,...,...,...,...,...,...,...,...
995,10996,Home Appliances,Dyson V11 Vacuum Cleaner,2,599.99,1199.98,Europe,Credit Card
996,10997,Clothing,Levi's 501 Jeans,4,79.99,319.96,South America,PayPal
997,10998,Electronics,iPad Pro 11,4,799.99,3199.96,Europe,Debit Card
998,10999,Books,The Pragmatic Programmer,4,44.99,179.96,South America,Credit Card
999,11000,Electronics,Samsung Galaxy S23,5,899.99,4499.95,Asia,Apple Pay

In [37]:
# Sumarle 1 a la edad de todos

df['Age'] = df['Age'] + 1
df

KeyError: 'Age'

In [39]:
df.drop(0, inplace=True)

In [43]:
df.dtypes #muestra los tipos que figuran en los datos de las columnas

Transaction ID        int64
Product Category     object
Product Name         object
Units Sold            int64
Unit Price          float64
Total Revenue       float64
Region               object
Payment Method       object
dtype: object

In [44]:
df.describe() #da los estadisticos de las cosas numericas

       Transaction ID  Units Sold   Unit Price  Total Revenue
count      999.000000  999.000000   999.000000     999.000000
mean     10501.000000    2.969970   418.673684    1217.412743
std        288.530761    1.403938   456.666380    1555.345829
min      10002.000000    1.000000    19.990000      19.990000
25%      10251.500000    2.000000    39.990000     124.950000
50%      10501.000000    3.000000   199.990000     439.960000
75%      10750.500000    4.000000   849.990000    1799.980000
max      11000.000000    5.000000  1499.990000    7499.950000